*{
  padding: 0px;
  margin: 0px;
}

/* MENU RATA KANAN */
#menu-kanan{
  margin-top: 50px;
  height: 40px;
  background-color: #FFFFFF;
}
#menu-kanan ul {
  float: right;
  list-style: none;
}
#menu-kanan ul li {
  text-align: center;
  float: left;
}
#menu-kanan ul li a{
  display: block;
  color: #4D4D4D;
  text-decoration: none;
  padding: 0px 20px;
  line-height: 40px
}
#menu-kanan ul li a:hover{
  background-color: #ADD8E6;
  color: #070707;
}

p{
  margin-top:25px;
  text-align: center
}
* {
        font-family: "Trebuchet MS";
      }
      h1 {
        text-transform: uppercase;
        color: salmon;
      }
    table {
      border: solid 1px #DDEEEE;
      border-collapse: collapse;
      border-spacing: 0;
      width: 70%;
      margin: 10px auto 10px auto;
    }
    table thead th {
        background-color: #FFFFFF;
        border: solid 1px #FFFFFF;
        color: #1A1A1A;
        padding: 0px;
        text-align: left;
        text-shadow: 1px 1px 1px #fff;
        text-decoration: none;
    }
    table tbody td {
        border: solid 1px #DDEEEE;
        color: #333;
        padding: 0px;
        text-shadow: 1px 1px 1px #fff;
    }
    a {
          background-color: salmon;
          color: #fff;
          padding: 10px;
          text-decoration: none;
          font-size: 12px;
    }
    

